h1 {
    color: red;
}

li.active {
    color: red;
}

.comments-section section {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #355f7c;
}

.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


#adventureCarousel .carousel-indicators {
    bottom: 0;
    left: 10px;
    margin-left: 5px;
    width: 100%;
}

#adventureCarousel .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 44px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}

#adventureCarousel .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 44px;
    left: 0;
    width: 100px;
}

#adventureCarousel .carousel-indicators .active img {
    border: 2px solid #39b3d7;
}