#test{
    padding-top: 20px;
}

#authorText{
    margin-top: 20px;
    background-color: #8c8c8c;
}

#Contributions{
    text-align: center;
    font-size: large;
    margin-top: 20px;

}

#top4{
    padding-top: 20px;
    background-color: #8c8c8c;
    padding-bottom: 20px;
    margin-bottom: 20px;
}