#Author{
    padding-top: 30px;
}

#AuthorPic{
    padding-top: 32px;
}


#top1{
    padding-top: 20px;
    background-color: #8c8c8c;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

}

#Contributions{
    text-align: center;
    font-size: large;
    margin-top: 40px;

}

#ContributionsDisc{

    margin-right: 20px;
}