#Author{
    padding-top: 18px;
}

#AuthorPic{
    padding-top: 16px;
}

#authorText{
    margin-top: 20px;
    padding-top: 20px;
    background-color: #BFBFBF;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#Contributions{
    text-align: center;
    font-size: large;
    margin-top: 30px;

}

#ContributionsDisc{

    margin-right: 20px;
}

#top4{
    padding-top: 20px;
    background-color: #BFBFBF;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}