.jumbotron{
    background-color: gray;
}

#top5{
    text-align: center;
    border: 12px solid #B22222;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.col-md-8{
    text-align: left;
}